/* 90. Meníme štýly pomocou javascriptu */

/* h1{
    color: red;
} */

/* 90. Meníme štýly pomocou javascriptu  koniec */



/* 91. Posúvanie štvorček do všetkých strán */

/* *{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.square{

    width: 40px;
    height: 40px;
    background-color: red;
    position: relative;
    top: 0;
    left: 0;
}  */


/* 91. Posúvanie štvorček do všetkých strán koniec */





/* 92. GetComputedStyle a vyťahovanie informácii o štýloch*/

/* h1{
    color: red;
    background-color: bisque;
} */

/* 92. GetComputedStyle a vyťahovanie informácii o štýloch koniec  */





/* 93. Zadávame text do políčka a podľa toho sa mení farba pozadia */
/* body{
    background-color: white;
} */
/* 93. Zadávame text do políčka a podľa toho sa mení farba pozadia koniec */



/* 95. Moderní JavaScript - Scrollování a praktický příklad s tlačítkem Nahoru */

/* body{
    padding: 0 100px;
}

.top-page{
    text-decoration: none;
    background: black;
    color: white;
    padding: 5px 10px;
    border-radius: 15px;
    font-size: 18px;
    position: fixed;
    right: 20px;
    bottom: 20px;
    display: none;
} */
 
/* 95. Moderní JavaScript - Scrollování a praktický příklad s tlačítkem Nahoru  koniec*/





/* 96. Moderní JavaScript - scrollTo a plynulé scrollování */

/* body{
    width: 1000px;
} */

/* 96. Moderní JavaScript - scrollTo a plynulé scrollování  koniec*/






/* 97. Moderní JavaScript - Po kliknutí na menu scrollujeme plynule kamkoliv na stránce (offsetTop)  */

/* nav ul{
    padding: 0;
}

nav ul li{
    display: inline-block;
    list-style-type: none;
}

nav li a{
    text-decoration: none;
    font-size: 20px;
    border: 2px solid black;
    padding: 5px 15px;
    border-radius: 100px;
    color: rgb(89, 0, 255);
    background: yellowgreen;
}

nav li a:hover{
    background: red;
} */


/* 97. Moderní JavaScript - Po kliknutí na menu scrollujeme plynule kamkoliv na stránce (offsetTop)  koniec*/


/* 107. Moderní JavaScript - Designujeme výpis pomocí přidání classy */




/* 107. Moderní JavaScript - Designujeme výpis pomocí přidání classy */